@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>.Net Core 3.1 Test Project For Fintranet With ApiController And Tests.</p>
    <br />
    <a href="/Product" id="productspagelink">Go To Products</a>
</div>

<style>
    #productspagelink {
        border: 2px solid cornflowerblue;
        padding: 10px;
        border-radius: 20px 47px;
    }
</style>